<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VueJS Array</title>
  </head>
  <body>
    <div id="app">

      <!-- =========== show 1 array value =========== -->
      <!-- <ul>
        <li>{{vehicle[1]}}</li>
      </ul> -->

      <!-- =========== show all array value =========== -->
      <!-- <ul>
        <li v-for="v in vehicle"> {{v}}</li>
      </ul> -->

      <!-- =========== add array value =========== -->
      <!-- <input type="text" v-model="content">
      <button @click="add">Add data</button>
      <ul>
        <li v-for="v in vehicle">{{v}}</li>
      </ul> -->

      <!-- =========== remove array value =========== -->
      <!-- <input type="text" v-model="content">
      <button @click="add">Add data</button>
      <ul>
        <li v-for="(v, index) in vehicle">
          <button @click="deleteEvent(index)">x</button>
          {{v}}
        </li>
      </ul> -->

      <!-- =========== array multivalue =========== -->
      <!-- <ul v-for="v in vehicle">
        <li>
          type : {{v.type}}, <br>
          merk : {{v.merk}}, <br>
          color : {{v.color}}
        </li>
      </ul> -->

      <!-- =========== array with computed property =========== -->
      <h2>All products</h2>
      <ul>
        <li v-for="p in products" v-text="p.type"></li>
      </ul>
      <h2>All ready products</h2>
      <ul>
        <li v-for="p in productReady" v-text="p.type"></li>
      </ul>
      <h2>All empty products</h2>
      <ul>
        <li v-for="p in productEmpty" v-text="p.type"></li>
      </ul>
      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="apps.js"></script>
  </body>
</html>
