<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VueJS Array</title>
  </head>
  <body>
    <div id="app">

      <!-- =========== show 1 array value =========== -->
      <!-- <ul>
        <li>{{vehicle[1]}}</li>
      </ul> -->

      <!-- =========== show all array value =========== -->
      <!-- <ul>
        <li v-for="v in vehicle"> {{v}}</li>
      </ul> -->

      <!-- =========== add array value =========== -->
      <input type="text" v-model="content">
      <button @click="add">Add data</button>
      <ul>
        <li v-for="v in vehicle">{{v}}</li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="apps.js"></script>
  </body>
</html>
